@use 'reset'; 
@use 'footer'; 
@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:ital,wght@0,100..900;1,100..900&display=swap');


// PAGE MARGINS 
body, header, footer { 
    margin: 30px 30px;
}

body { 
    font-family: 'libre franklin', sans-serif;
    background-color: #ffffff;
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center; 
}

.logo { 
    margin-top: 80px;
    margin-bottom: 40px;
    width: 20%;
}

.title { 
    font-weight: 300;
    color: hsl(0, 0%, 59%);
    font-size: 1.4em;
}

strong { 
    color: initial;
}

.subheading {
    font-weight: 300; 
    color: black;
    font-size: 0.75em;
    margin-bottom: 30px;
    margin-top: 5px;
}

form { 

    input[type="email"], button[type="submit"] { // SHARED STYLES BETWEEN EMAIL FIELD & SUBMIT BUTTON
        all: unset; // removes default styling of the inputs 
        padding: 13px 30px;
        width: 70%;
        border: solid hsl(223, 87%, 63%, 30%) 1px; // weird? 
        border-radius: 20px;
        display: inline-block;
        font-size: 0.7em;
        margin: 5px 0;
    }

    input[type="email"] { 
        cursor: text;
        text-align: left;
    }

    input[type="email"]:valid { 
        border: solid hsl(223, 87%, 63%) 1px;
    }

    input[type="email"]:invalid:not(:placeholder-shown) { // This combinator pseudoclass selector instructs 'Do not mark as invalid while the placeholder text is visible i.e. before the user as selected the text field. 
        border: solid hsl(354, 100%, 66%) 1px;
    }

    input[type="email"]::placeholder { // PLACEHOLDER YOUR EMAIL ADDRESS... TEXT 
        color: hsl(0, 0%, 59%, 50%); 
        font-weight: 300; 
        text-align: left;
        cursor: text;
        line-height: normal;
        font-size: 1em;
    }

    .error { 
        display: none; // keeps error prompt hidden from stack by default 
        color: hsl(354, 100%, 66%); 
        font-weight: 300;
        font-size: 0.6em;
        font-style: italic;
        margin-bottom: 20px;
    }

    .error.visible { 
        display: inline-block; // makes the error prompt appear dynamically with the right margins applicable 
    }

    button[type="submit"] {  // SUBMIT BUTTON 
        font-weight: 600; 
        color: #ffffff; 
        background-color: hsl(223, 87%, 63%);
        cursor: pointer;
    }
}

.illustration {
    width: 100%; 
    margin: 75px 0 150px 0;
    height: 35svh;
}

.socials-container { 
    color: hsl(223, 87%, 63%);
    font-size: 0.9em;
    margin-bottom: -10px;

    a { 
        border-radius: 50%; 
        width: 35px;
        border: solid hsl(0, 0%, 59%, 30%) 1px;
        padding: 10px; // space between icon and border 
        margin: 4px; // space between icons 
        text-align: center;
    }
}

footer {
    display: inline;

    .copyright { 
        color: hsl(0, 0%, 59%, 70%); 
        font-weight: 300; 
        font-size: 1em;
        margin: 10px;
    }

    .attribution { 
        margin: 40px;
        font-size: 0.7em;
    }
}


